*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(31, 38, 163);
    font-family: sans-seri;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    width: 220px;
    height: 300px;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.poster{
    flex: 1;
    background-image: url(/assets/image/image.jpg);
    background-size: cover;
    margin:10px;
    border-radius: 12px;
    background-position: center;
}

.data{
    padding: 16px;
    text-align: left;
    color: black;
    background-color: white;
}

.data h1{
    font-size: 20px;
    margin-bottom: 8px;
}

.data p{
    font-size: 10px;
    color:gray;
}