body{
    font-family: 'B Titr' , sans-serif;
    background: linear-gradient(to left, #fdfcfb, #ffcfe8);
    margin: 0;
    padding: 0;
    color: #333;
    direction: rtl;
}

header{
    text-align: center;
    padding: 2rem;
    animation: fadeIn 2s ease-in;
}

.profile-pic{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: float 3s ease-in-out infinite;
}

section{
    padding: 2rem;
    animation: fadeInUp 1.5s ease-out;
}

.gallery{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: nowrap;
}

.pic-gallery{
    max-width: 20%;
    height: auto ;
    border-radius: 20px;
    flex-direction: row;
}

.pic-gallery:hover{
    transform: scale(1.3);
}

.skills ul{
    list-style: none;
    padding: 0;
}

.skills li::before{
    content: "*";
}

footer{
    text-align: center;
    padding: 1rem;
    background-color: #ffcdf0;
}

@keyframes fadeIn{
    from { opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px);}
    to {opacity: 1; transform: translateY(0);}
}

@keyframes float {
    0% {transform: translateY(0);}
    50% {transform: translateY(-10px);}
    100% {transform: translateY(0);}
}